@import "bourbon"
$base-font-size: 13px
@function em($px, $base: $base-font-size)
		@return ($px / $base) * 1em


/*шапка сайта*/
@media only screen and (max-width : 1600px)
	.top-closeMnu
	.top-search
		width: 32%
		margin-left: 2%
		margin-right: 2%
	.top-selectVin
	.top-userCabinet
		width: 6%
		a
			display: none
		i
			margin-right: 10px
	.top-balance
		width: 37%
@media only screen and (max-width : 1200px)
	#right_side
		padding-top: 70px
	.slideDownNav--fixed .alert
		top: 70px
	.slideDownNav
		.top-balance_update
			margin-right: 30px !important
		.user_name
			top: 70px
	.totall--debt
		right: 0px !important
	.top-closeMnu
		padding: 0
	.top-search
		width: 78%
	.top-selectVin
		width: 20%
		padding-left: 20px
		padding-left: 2%
		select
			width: 100%
	.top-userCabinet
		width: 14%
	.top-balance
		width: 50%
		border-left-color: transparent
		margin-top: 20px
		padding-right: 30px
		a
			text-align: right
	.top-cart
		width: 50%
		text-align: left
		padding-left: 30px
		border-right-color: transparent
		margin-top: 20px
	.top-SecondUserCabinet
		display: none
@media only screen and (max-width : 767px)
	.top-closeMnu
		width: 7%
	.top-search
		width: 73%
		margin-left: 4%
	.top-userCabinet
		width: 14%
	.top-balance, .top-cart
		width: 100%
		padding: 0
		border-right: none
		margin-top: 10px
		text-align: center
		a
			text-align: center
@media only screen and (max-width : 768px)
	#right_side
		padding-top: 0px
	.top-search
		form
			input
				padding: 4px 8px
	.top-search form button
		right: 0
	

@media only screen and (max-width : 480px)
	.top-closeMnu
		width: 7%
	.top-search
		width: 67%
		margin-left: 5%
	.top-userCabinet
		width: 16%
		padding-left: 1%
@media only screen and (max-width : 1400px)
	.slideDownNav
		left: 63px
	.topLine_fixed
		padding-right: 60px !important
@media only screen and (min-width : 1201px)
	.top-firstUserCabinet
		display: none
	.top-closeMnu
		padding: 0

@media only screen and (min-width : 1400px)
	.tabletSmenuActiveToShape
		padding-right: 160px
	.tabletSmenuActiveTo
		animation: tabletSmenuActiveTo ease-in .3s
		animation-iteration-count: 1
		transform-origin: 50% 50%
		animation-fill-mode: forwards
	@keyframes tabletSmenuActiveTo
		0%
			transform: translate(0px, 0px)
			padding-right: 0
		100%
			transform: translate(167px, 0px)
			padding-right: 215px

@media only screen and (width : 768px
	#right_side
		padding-top: 67px
/*конец шапка сайта*/


@media only screen and (max-width : 1650px)
	.dashboardSell .dashboardSell-content_text h4
		font-size: em(13px)
	.dashboard--requestHistory_history .table_content .tr .td
		font-size: em(11px)
@media only screen and (max-width : 1842px)
	.orders_list_changes_btn
		span
			display: none

@media only screen and (max-width : 1201px)
	.user_name
		top: 123px
@media only screen and (max-width : 1400px)
	.dashboard--requestHistory_history .th
		font-size: em(11px)
		text-transform: uppercase
	.user_name ul .settings
		display: none
	.dashboard--requestHistory_wrapper .wrapper span
		font-size: em(13px)
		margin-top: 3px
@media only screen and (max-width : 1200px)
	.top-balance_wrapper
		float: right !important
	.datapicker_orderlist-filterblock
		padding-bottom: 13px
	.history_request
		margin-top: 17px
		.content__item
			padding: 20px
	.orders-info_popUp-inner-buttons
		margin-top: 0
		button
			font-size: .8em
	.orders-info_popUp-inner-tabItemContent
		.inner-wrap
			height: 170px !important
	.orders_list
		margin-bottom: 30px
	.orders_container .status_order .inner_wrap a i
		position: absolute
		right: 10px
		bottom: 10px
		font-size: em(12px)
	.orders_list-wrapControl
		float: right
	.orders_list
		padding-bottom: 0
		h2
			margin-bottom: 20px !important
		.wrap
			width: 100%
	.cross_close
		display: none
	.hide-1200
		display: none
	.licence
		span
			display: inline-block
			font-size: em(11px)
	.arrows
		display: none
	/**/

@media only screen and (max-width : 2000px)
	.general_mnu ul li a
		font-size: em(11px)
	/**/

@media only screen and (max-width : 992px)
	.orders-info_popUp-inner
		width: 90% !important
	.order-list_buttons
		width: 100%
		float: left
		margin-top: 20px
	.table_search_goods_result
		height: auto
	.bottom_mnu ul li a
		padding: 10px 12px
	.top_serch .search_btn
		right: 3%

@media only screen and (max-width : 900px)
	.orders-tableLgcontent_cancell
		input
			width: 25px
		button
			width: 15px
			font-size: em(9px)
@media only screen and (width : 768px)
	.orders_container .name .inner_wrap i
		position: absolute !important
		top: 20px
		right: 3px
	.social_pages
		.social_wrap
			a
				margin-right: 5px !important
@media only screen and (max-width : 768px)
	.social_pages
		.social_wrap
			left: 0 !important
			width: 100%
			padding-left: 0
			margin-right: 25px !important
			a
				margin-right: 0px
	.top-balance_wrapper
		float: none !important
	.order-list_buttons
		margin-bottom: 20px
		@include clearfix
		padding-right: 20px
	.datapicker_orderlist-filterblock
		display: none
	.datapicker
		.datapicker-triangleLeft,
		.datapicker-triangleRight
			border-top: 12px solid #b2b2b2 !important
			border-bottom: none
	.dashboard-action_a
		float: right !important
		top: 0
		padding: 5px 8px

	.large_block .title i
		left: 0
		margin-right: 5px
	.large_block .title span
		font-size: em(12px)
		margin-right: 5px !important
	.history_request
		a
			float: right
			padding: 5px 8px
			top: 0px
			font-size: em(12px)
	.dashboardSell .dashboardSell-image button
		padding: 10px 5px
	.orders-info_popUp-inner
		.tab_item
			padding: 0 !important
		.wrapper
			.tabs
				.tab
					padding: 10px !important
	.orders-info_popUp-inner-about
		h5
			line-height: 0
			display: inline-block
			width: 100%
		strong
			margin: 0
			display: inline-block
			line-height: em(14px)

	.orders_container .status_order .inner_wrap a i
		bottom: 20px
	.inner_wrap,
	.inner_wrap_lg .left,
	.inner_wrap_lg .right,
		height: 65px !important
	.orders_container
		.name
			.inner_wrap
				height: 65px !important
				padding: 10px 15px
				font-size: em(10px)
				i
					font-size: em(17px)
					border: 1px solid gray
					background-color: #fff
					display: block
					height: 20px
					width: 20px
					line-height: 20px
					text-align: center
					position: relative
					bottom: 20px

		.orders_list_changes_wrap
			float: left
			margin-left: 15px
		.orders_list_changes_wrap_r
			float: right
	.social_pages .phones li i
		margin-right: 10px
	.radogrup
		#checkator_
			height: 20px
			width: 20px
		.checkator_element
			&.radio
				border-radius: 0%
				&:after
					border-radius: 0%
			&.checkbox
				border: 1px solid #a0a0a0
		.checkator_source
			&:checked + .checkator_element:after
				border-radius: 0%
	.innrer_content_popUp
		overflow-y: scroll
	.large_block .title button
		float: right
	.percent_wrap
		margin-right: 0
	.button_action
		float: right
	.wrap_cart
		text-align: center !important
	.status_order
		.inner_wrap
			padding: 15px !important
			font-size: em(14px) !important
			min-height: 60px !important
	.orders_list_changes_wrap ul li button i
		top: 0
	.orders_list_changes_wrap ul li.active button
		padding: 5px
	.orders_list_changes_wrap ul li button
		padding: 5px
	.wrap_cart
		text-align: center
	.hidemenuR
		padding-left: 15px
	.container_for_i
		margin-bottom: 20px
	.social_pages
		padding-top: 45px
		padding-bottom: 20px
		.phones
			.mail
				text-decoration: underline
				font-size: em(16px)
			a
				margin-top: 3px !important
				display: inline-block
			i
				color: #fff
	.row_for_table_lg
		.inner_wrap
			min-height: 100px
			height: auto
	.social_pages
		.phones
			i
				width: auto
	.toll
		min-height: 300px
		height: auto
	.history
		width: 100%
		tr
			th
				&:last-child
				display: none
			td
				&:last-child
					display: none
	.orders_container
		margin-left: 15px
		margin-right: 15px
	.balance
		margin-top: 19px
	.orders_list_changes_wrap_r
		margin-top: 25px

@media only screen and (width : 768px)
	.dashboard_small .content__item .content__item-right span i a
		font-size: em(18px)
	.orders-info_popUp-inner-close
		right: 5% !important
		top: 15% !important
	.orders-info_popUp-inner
		height: 70% !important
	.orders-info_popUp-inner-tabItemContent
		.inner-wrap
			height: 420px !important

@media only screen and (max-width : 767px)
	#selectOrders
		text-align: left !important
		float: left
	.table_for_xs
		box-shadow: 0 3px 3px rgba(0, 0, 0, .3)
		margin-bottom: 15px
		.tottal_row,
			.inner_wrap
				height: 83px !important
		.regular_row
			height: 83px
	.orders_container .number_order .title input
		float: left
		position: absolute
		left: 2px
		top: 2px
	.order-list_buttons
		margin-bottom: 20px
	.top-balance .top-balance_wrapper
		float: none

@media only screen and (max-width : 560px)
	.orders_list_changes_wrap_r
		width: 56px
	.order-list_buttons
		button
			width: 100%
		.ordersCancellMarckAll,
		#markAll
			margin-bottom: 20px



@media only screen and (max-width : 480px)
	.cart-deliveryOptions .wrap-radio
		margin: 0
	.orders_container
		.tottal_price
			.inner_wrap
				.bottom_docs
					a
						margin-right: 0
						i
							font-size: em(12px)
	.alert
		.alert_zone
			padding-top: 7px
	.toll
		.inner_content
			p
				padding-left: 10px
				font-family: 'OSR', sans-serif
	.wrap_item_block
		.content__item_toll
			.wrapper_icon_and_h2
				i
					margin-right: 10px !important
					margin-left: 0 !important

	.percent_wrap
		i
			margin-right: 10px
		h2
			font-size: em(13px)
	.button_action
		font-size: em(12px)
		width: 100px


/* Custom, iPhone Retina */
@media only screen and (max-width : 400px)
	.top_serch .search_btn
		right: -2px
	.datapicker form .datapicker_checkbox_wrap
		padding: 8px 1px 5px
		#checkator_
			margin-top: 3px
	#checkator_
		height: 13px
		width: 13px


@media only screen and (max-width : 339px)
	.datapicker
		font-size: em(13px)
	.tottal_balance,
	.wrap_cart
		font-size: em(12.1px)

@media only screen and (min-width : 400px)
	.item_stock .date_sell
		padding-top: 10px
		height: 40px

@media only screen and (width : 768px)
	.orders_list_changes_wrap ul li button
		padding: 0 !important
	.orders_list_changes_wrap ul li
		margin-top: -1px
		i
			padding-left: 5px
			padding-top: 0px
			margin-top: 0
			padding-bottom: 3px
	.orders_list_changes_wrap_r
		margin-top: 0
	.tablets
		padding-left: 0
		padding-right: 0

@media only screen and (min-width : 768px)
	.hidemenuR
		left: 48px
		padding-right: 55px
	.table_for_xs
		margin: 0 !important
	.vertical_line
		right: -17% !important
	.innrer_content_popUp, .innrer_content_popUp_addComent
		width: 500px !important
	.large_block .title button
		top: -8px
	.wrap_cart
		text-align: right
		padding-right: 10%
	.copiright .licence
		text-align: left
	.location
		margin-left: 15px
	.add_coment_btn
		margin: 0
		width: 100%
		span
			text-align: center
			float: none
		i
			display: none
			margin: 0

	.breadcrumbs_bottom
		text-align: left
		ul
			li
				a
					padding: 5px 15px
	.inner_wrap
		font-size: em(13px)
		min-height: 100%
	.border-box
		border: none
	.orders_list_changes_wrap ul li
		padding-top: 2px
		i
			margin-top: 5px
	.orders_list_changes_wrap
		margin-top: 0
	.type_person
		margin-bottom: 0 !important
	.container_for_i
		height: 48px
		width: 48px
	.social_pages a
		float: left
		position: relative
		text-align: center
		margin: 0
		i
			font-size: em(28px)
			margin-left: 10px
	.social_pages
		padding: 37px 0
	.user_accaunt
		margin-left: 73px
		width: 60px
	.user_accaunt .triangle
		left: 130px
	.top_serch
		margin-left: -20px
	.cross
		margin-left: 10px
	.top
		min-height: 130px
	.cart
		margin-top: 15px
	.bottom_logo
		a
			display: block
			float: left
			margin-top: 0 !important
			img
				width: 100%
	.item_stock
		margin: 19px 10px 0
	.item_stock .date_sell
		right: 10px
		width: 49%
		margin-top: 1px
		font-size: em(13px)
		span
			font-family: 'OSB', sans-serif
	.item_stock button
		min-height: 33px
	.item_stock .text h2
		font-size: em(14px)
	.item_stock .text p
		font-size: em(13px)
	.item_stock .date_sell
		min-height: 40px
		height: auto
	.social_pages i
		display: block
		float: left
		width: auto
		margin-right: 12px
		font-size: em(35px)
		margin-top: 20px
	.social_wrap
		text-align: left
		font-family: 'OSR', sans-serif
		font-size: em(13px)
		a
			margin-right: 8px
			&:nth-last-child(1)
				margin-right: 0
			i
				font-size: 30px
	.social_pages .location
		margin-top: 0
		text-align: left
		font-family: 'OSR', sans-serif
		font-size: em(13px)
		padding-left: 0
		i
			margin-top: 6px
	.social_pages span
		display: inline-block
		width: 100%
	.phones_sm
		.mail
			color: $red
			font-size: em(14px)
	.social_pages
		.phones
			margin: 0
			padding: 0
			span
				font-family: 'OSR', sans-serif
				font-size: em(13px)
				display: inline
			i
				display: inline
				margin-right: 10px !important
				margin-top: 5px	!important
				float: left
				margin: 0
	 .hidemenuR
	 	left: 48px
	 	padding-right: 64px
@media only screen and (width : 768px)
	.manager .manager-regional .manager-info_body span,
	.manager .manager-self .manager-info_body span
		font-size: 1em

	/*min-width 768*/

@media only screen and (min-width : 993px)
	.orders-info_popUp-inner-close
		right: 15% !important

@media only screen and (min-width : 992px)
	.top_serch .search_btn
		right: 3%
	.wrap_cart
		padding-right: 0
		text-align: center
	.vertical_line
		right: -23% !important
	.phones_sm
		.mail
			color: $red
			font-size: em(18px)
	.cart i
		margin-left: 10px
	.user_accaunt
		margin-left: 0
		width: 60px
	.user_accaunt .triangle
		left: 40px
	.top_serch
		margin-left: -20px
	.top
		min-height: 70px
	.date
		display: none
	.balance_count
		display: none
	#selectvin
		margin-left: 0
		width: auto
	.top_serch
		.serch_field
			width: 90%
	.quantity
		display: none
	/**/

@media only screen and (min-width : 1200px)
	.user_accaunt
		margin-top: 21px
		.triangle
			top: 31px
	.cart
		margin-top: 18px
	.balance
		margin-top: 22px
	.markup, .tools
		min-height: 80vh
	.content__item_bottom
		.cross_close
			top: -23px !important
	.item_stock .date_sell
		padding-top: 0

	.priceform select
		margin-top: 8px
	.wrapper_icon_and_h2 h2 span
		position: relative
		top: 8px
	.show-1400
		display: none
	.show_span
		display: none
	.number_order
		.date_of_order
			.hidden_1200_s
				display: none
			.show_1200_s
				display: block
	.orders_container
		.tottal_price
			.inner_wrap
				.bottom_docs
					a
						float: none
						margin-right: 10px
						margin-left: 0
						span
							margin-left: 0
							i
								font-size: em(13px)

	.orders_container .tottal_price .inner_wrap .left_side
		text-align: center
	.orders_container .tottal_price .inner_wrap .right_side span
		display: inline
		word-wrap: break-word
	.toll
		padding: 30px 14px
	.hide_1200
		display: none !important
	.mob_mnu
		ul
			text-align: left
			li
				a
					span
						display: inline-block

	.small_block
		font-size: em(10.95px)
	.hidemenuR
		padding-left: 15px
	.orders_list_changes_btn
		margin-left: 30px
		width: auto
		padding-right: 12px
	.row_for_table_lg
		.date_of_delivery
			.date_of_delivery_title
				padding-left: 5px
				.hidden_1200
					display: none
			.inner_wrap
				padding: 15px 0 0 5px
				font-size: em(12px)
		.number_order
			.inner_wrap
				word-wrap: break-word
				a
					font-size: em(12px)
		.brand
			.inner_wrap
				word-wrap: break-word
				font-size: em(11px)
				line-height: 12px
		.name
			.name_title
				padding-left: 15px
			.inner_wrap
	.exchenge
		word-wrap: break-word
		span
			font-size: em(12px)
	.add_coment_btn
		margin: auto
		width: 100px
		display: inline-block
		span
			float: auto
		i
			display: block
			margin-top: 3px
			margin-left: 3px
	.datapicker .datapicker_filter_wrap
		margin-top: 25px
		margin-left: 10px
	.vertical_line_left
		display: none
	.balance .vertical_line
		margin-right: -10px
	.quantity
		display: inline
	.balance_count
		display: inline
	.general_mnu ul li a i
		width: 40px
		margin-right: 10px
	.general_mnu ul li a
		line-height: 40px
	.general_mnu ul li a i span
		display: inline-block
	.priceform
		margin-top: 15px
	.priceform select
		margin-bottom: 15px
	.small_block .wrap
		padding-right: 10px
	.social_pages
		.social_wrap
			span
				margin-top: 26px
				margin-right: 20px
				margin-top: 11px
				display: block
				width: auto
				float: left
	.item_stock .text h2
		word-wrap: break-word
	.large_block .title
		padding-top: 0


@media only screen and (min-width : 1400px)
	.footer--innerWrap, .footer--payment_logos img
		position: relative
		left: 146px
	.orders_list_changes_wrap_r
		width: 71px
	.priceform select
		margin-top: 13px
	.wrap_item_block .content__item_toll .wrapper_icon_and_h2 i
		margin-right: 23px
		margin-left: 0
	.show_span
		display: block
	.hide_span
		display: none
	.number_order
		.date_of_order
			.hidden_1200_s
				display: block
			.show_1200_s
				display: none
	.orders_container .tottal_price .inner_wrap .bottom_docs a
		float: left
		margin-right: 15px
		span
			margin-left: 10px
	.orders_container .tottal_price .inner_wrap .left_side
		text-align: left
	.orders_container .tottal_price .inner_wrap .right_side span
		display: inline
		word-wrap: break-word
	.hide_1200
		display: inline !important
	.show_1200
		display: none !important
	.small_block
		font-size: em(14px)
	.vertical_line_left
		display: block
		margin-left: 0
	.cart i
		margin-left: 0

@media only screen and (min-width : 1440px)
	.wrapper_icon_and_h2 h2 span
		top: 0
	.show-1400
		display: inline-block
	.hide-1200
		display: none
	.date_of_delivery
		.date_of_delivery_title
			padding-left: 5px
	.show-1400
		display: inline-block !important

@media only screen and (min-width : 1730px)
	.item_stock .date_sell
		line-height: 40px
	.dashboard_small-call
		.content__item
			.content__item-right
				span
					top: 5px
					i
						margin-top: 5px
						font-size: em(20px)




///////////////////////////////////////////////////////
/////////медиазапросы для страницы импорта/////////////
///////////////////////////////////////////////////////
@media only screen and (max-width : 1400px)
	.search_goods
		button
			font-size: em(12px)
		.green_btn
			font-size: em(12px) !important
			padding: 11px 10px
			border: 1px solid $green
	.file-input
		div
			padding: 9px 10px
			margin-left: 0px
		a
			padding: 10px

@media only screen and (max-width : 1200px)
	.import
		.hidden_span
			top: -3px
	.managmentFilterlabelwrap
		top: 0 !important
		label
			margin-bottom: 10px
			line-height: em(12px)
			display: block
			width: 100%
			&:nth-last-child(1)
				margin-bottom: 0

	.search_goods
		button
			font-size: em(10px)
			padding: 11px 10px
		.green_btn
			font-size: em(10px) !important
			padding: 11px 10px
			border: 1px solid $green
	.table_search_goods_result .price .content span
		font-size: 1em
	.add_file
		.add_tmpl
			span
				font-size: em(13px)

@media only screen and (max-width : 992px)
	.import
		.hidden_span
			top: 10px !important
	.add_file
		.file-input
			margin-bottom: 20px
			.btn
				float: left
			div
				@include calc(width, "100% - 157px")
	.search_goods-rightBtn .labelwrap
		margin-right: 10px
	.search_goods
		button
			margin-right: 10px
			padding: 11px 6px
	.town
		.content
			.top_cell,
			.bottom_cell
				padding-left: 15px !important
	.table_search_goods_result
		margin-bottom: 0
	.searchResult-result
		margin-top: 25px


	.import
		.stock_selection
			h3
				font-size: em(14px)
				margin-top: 20px
				margin-bottom: 15px
		.table_stock_selection
			.status
				height: 20px
				line-height: 17px
				width: 80px
				span
					font-size: em(10px)

@media only screen and (max-width : 768px)
	.add_file .add_tmpl span
		text-align: center
		display: block
		margin-bottom: 10px
	.search_goods-rightBtn .labelwrap
		float: right
	.not_in_stock
		h2
			font-size: em(18px)
			text-align: center
			margin-bottom: 10px !important
			line-height: em(16px)
	.search_goods h3
		font-size: em(18px)
		text-align: center
		margin-bottom: 10px !important
		line-height: em(16px)
		margin-top: 30px
	.warhauseClaime-h2
		font-size: em(18px)
		text-align: center
		border-bottom: 0px !important
	.import-repeatRow
		height: 100px
		.top_cell, .bottom_cell
			line-height: 13px
			height: 65px !important
			padding-left: 15px !important
	.managmentFilterlabelwrap label
		margin-bottom: 10px
		line-height: em(22px)
		.managmentFilterlabelwrap_analogs-text
			display: inline-block
			line-height: em(12px)
	.search_goods-rightBtn
		width: 100%
	.search_goods
		button
			width: 32%
			float: left
			font-size: 1em !important
			margin-bottom: 20px !important
			margin-right: 0
			padding: 20px !important
			&:nth-last-child(3)
				margin: 0
				margin-bottom: 20px
		.green_btn
			font-size: 1em !important
			margin-bottom: 20px !important
			padding: 20px !important
	.table_search_goods_result
		.quantity_ .content
			.bottom_cell
				form
					float: right
			.top_cell
				form
					float: right
	.descr
		h4, p
			padding-left: 15px
	.price
		text-align: left !important
	.search_goods
		button
			width: 100%
			font-size: em(11px)
			padding: 15px 5px
			margin-bottom: 15px
		.green_btn
			width: 100%
			font-size: em(11px)
			padding: 16px 5px

			i
				margin-right: 15px

@media only screen and (max-width : 560px)
	.add_file
		padding-bottom: 20px
		.add_tmpl span
			width: 100%
			text-align: left
			margin-bottom: 20px
	.add_file .add_tmpl button
		margin: 0
		width: 100%

@media only screen and (max-width : 430px)
	.add_file .file-input
		.btn,
		div
			width: 100%
			margin-bottom: 15px
	.import
		.hidden_span
			display: none !important

@media only screen and (min-width : 320px)
	.import
		.orders_import
			i
				font-size: em(22px)
				margin-right: 10px
				top: -2px
			h2
				font-size: em(14px)
				line-height: em(14px)
		.help_topics
			font-size: em(12px)
			text-align:
			button
				padding: 6px 10px
				i
					margin-right: 0px

@media only screen and (min-width : 768px)
	.import
		.orders_import
			i
				top: 4px
				font-size: em(26px)
			h2
				font-size: em(22px)
	.table_search_goods_result .cell_wrap .content .top_cell .hidden_span,
	.table_search_goods_result .cell_wrap .content .bottom_cell .hidden_span
		position: static
		margin-bottom: 2px
		font-size: em(10px)

@media only screen and (min-width : 830px)
	.table_search_goods_result .cell_wrap .content .top_cell .hidden_span,
	.table_search_goods_result .cell_wrap .content .bottom_cell .hidden_span
		margin-top: 12px

@media only screen and (min-width : 992px)
	.table_search_goods_result .cell_wrap .content .top_cell .hidden_span,
	.table_search_goods_result .cell_wrap .content .bottom_cell .hidden_span
		margin-top: -5px
	.search_goods .green_btn
		padding-left: 8px
		padding-right: 8px
		i
			display: none
	.search_goods
		button
			padding: 11px 22px
	.import
		.help_topics
			button
				padding: 11px 28px
				font-size: em(13px)
				font-family: 'OSB', sans-serif
				i
					margin-right: 20px

		.table_stock_selection
			margin-bottom: 0
			.tr_xs
				border: none
				border-bottom: 1px solid #b2b2b2
				&:last-child
					border-right: 1px solid #b2b2b2
			.past
				border-left: 1px solid #b2b2b2
			.thead
				border: none
			.status
				float: left
	input[type=checkbox].bigswitch.ios-switch+div
		margin-right: 20px

@media only screen and (min-width : 1200px)
	.table_search_goods_result .cell_wrap .content .top_cell .hidden_span,
	.table_search_goods_result .cell_wrap .content .bottom_cell .hidden_span
		position: relative
	.search_goods .green_btn
		padding: 11px 22px
		i
			display: inline

	.from1200
		display: none
	.import
		.col-lg-12
			width: 100%

@media only screen and (min-width : 1440px)
	.from1200
		display: block
	.to_1440
		display: none

@media only screen and (min-width : 1550px)
	.add_tmpl
		span
			line-height: 45px
			br
				display: none
/////////////*end*/////////////////


/*стили страницы листа ожиданий*/
@media only screen and (max-width : 1500px)
	.wait_list
		h2
			font-size: em(18px)
		.top_button
			.sort_product
				padding: 7px 0
			.btn_wrap
				button
					padding: 10px !important
					margin-right: 15px !important
					font-size: em(10px)
					&:nth-last-child(2)
						margin: 0 !important
						margin-right: 15px !important
					&:nth-last-child(1)
						margin-right: 0 !important
						padding: 14px !important

@media only screen and (max-width : 1400px)
	.wait_list_table .table_search_goods_result
		.fold
			.content
				button
					i
						display: none
@media only screen and (max-width : 1200px)
	.wait_list_table .table_search_goods_result .date_update .content span
		font-size: em(11px)
	.wait_list
		h2
			margin-bottom: 30px
			font-size: em(22px)
		.top_button
			.btn_wrap
				width: 100%
				.gray_btn
					float: left
				.green_btn
					float: right
	/**/

@media only screen and (max-width : 992px)
	.wait_list
		.top_button
			.btn_wrap
				.gray_btn
					&:nth-last-child(2)
						margin-left: 0
						margin-right: 0
	.wait_list_table
		.table_search_goods_result
			.cell_wrap
				height: 110px
	.wait_list_table
		.table_search_goods_result
			height: auto
			.fold
				.content
					text-align: center
					button
						width: 95px
						float: left
						i
							display: inline
							margin-right: 5px
							margin-left: 5px
						span
							display: inline
			.expected_number
				.content
					.block
						width: 95px
	/**/

@media only screen and (max-width : 768px)
	.searchResultsList
		.queryHistory-row, .queryHistory-thead
			padding: 5px
	.slideDownNav--fixed
		.datapicker
			margin-top: 0px
	.wait_list_table
		.table_search_goods_result
			.fold
				.content
					button
						margin-top: 0
						padding-left: 5px
						padding-right: 5px
	.wait_list
		.for_xs
			.sort_product
				float: right
				padding: 10px
			.gray_btn, .green_btn
				width: 100%
				margin-bottom: 15px
	/*Disable Animation on Mobile Devices*/

@media only screen and (max-width : 480px)
	.wait_list
		h2
			font-size: em(14px)
			i
				margin-right: 10px
	.wait_list_table
		.table_search_goods_result
			.fold
				.content
					button
						padding-left: 3px
						padding-right: 3px
						i
							display: none
			.quantity_
				.content
					.top_cell
						form
							.form-control
								width: 80%
			.fold
				.content
					text-align: center
					button
						width: 100%
						float: left
			.expected_number
				.content
					.block
						width: 100%
			.quantity_
				.content
					.top_cell
						form
							width: 120px
							float: right
							margin-right: 5px

@media only screen and (min-width : 1400px)
	.wait_list
		.row
		h2
			i
		.top_button
			.btn_wrap
				.green_btn
					padding: 15px 20px
					margin-right: 5px
					i
						margin-right: 10px
				button
					float: left
					font-size: em(12px)
				.gray_btn
					padding: 10px 20px
					i
						margin-right: 10px
	/**/

@media only screen and (min-width : 992px)
	.wait_list_table .table_search_goods_result .fold .content button span
		float: none
		font-size: 10px
@media only screen and (min-width : 1200px)
	.wait_list_table .table_search_goods_result .fold .content button span
		font-size: 1em !important

/////////////*end*/////////////////


/*медиазапросы для страницы возвратов*/
@media only screen and (max-width : 1200px)
	.returnes
		.wrapper_tabs
			.tab
				padding: 20px 5px
	/**/

@media only screen and (max-width : 992px)
	.returnes-table_single
		.returnes-table_single-warehouse
			.returnes-table_content
				padding-left: 5px !important
	.returnes-table_content-status
		text-align: center
		font-size: em(12px)
	.returnes-table_content
		.left
			div
				top: -5px !important
				left: -5px !important
	.returnes-table_content-summ
		.currency
			font-size: em(13px) !important
		.docs
			font-size: em(13px) !important
			margin-right: 5px !important
		a
			i
				font-size: em(16px) !important
	.returnes
		.wrapper_tabs
			.wrap
				button
					padding: 10px
			.tab_content
				.table_returnes
					height: auto
	.wrapper_tabs
		.tab
			font-size: em(12px) !important
		.wrapper_tabs-wrap
			button
				margin-left: 10px !important
				padding: 5px 10px
	/**/

@media only screen and (max-width : 767px)
	.returnes
		.wrapper_tabs
			.returnes-table
				.returnes-table_title-xs
					background-color: #ccc
					border-bottom: none

@media only screen and (max-width : 768px)
	.orders_list
		margin-bottom: 0
	.returnesAddGoods
		width: 100%
	.wrapper_tabs-wrapRemote-file
		width: auto
		padding: 5px !important
		line-height: em(14px)
		font-size: em(10px) !important
	.returnes_remoteOnXs
		select
			height: 35px !important
	.wrapper_tabs-slideButton
		margin-top: 0
		margin-right: 5px
		width: 71px
		padding: 3px
		background-color: #eaeaea
		border: 1px solid lightgray
		float: right
	.returnes-table_shortcontent
		.returnes-table_shortcontent-price
			font-size: em(14px) !important
	.returnes
		textarea
			width: 100% !important
		.TTN
			.data_for_returne_ttn
				form
					width: 400px
					text-align: left
					.refresh_data
						.refresh_data-date
							span
								line-height: em(0px)
								&:last-child
									margin-left: 0
	#ttn_form
		input,
		select
			width: 100%
	.returnes
		.orders_list
			padding-bottom: 20px
			h2
				margin-bottom: 0
		.wrapper_tabs
			.tab_content
				.table_returnes
					.content
						padding: 5px
					.comment
						.content
							padding-top: 9px
			.tab
				font-size: em(14px)
				padding: 10px
	.returnes
		.TTN
			text-align: center
			p
				margin-top: 20px
				float: left
			.pz
				padding-left: 0
				padding-right: 0
			.red_btn
				margin-bottom: 20px

@media only screen and (width : 768px)
	.returnes
		.TTN
			p
			.pz
				padding-left: 15px
				padding-right: 15px

@media only screen and (max-width : 480px)
	.returnes
		.returnesAddGoods,
		.dataForReturnesTtn
			width: 100%
		.TTN
			.data_for_returne_ttn
				form
					width: 300px
					text-align: left
					h2
						font-size: em(16px)
						margin-top: 0px
						margin-bottom: 5px
					span
						font-size: em(14px)
					.tablerow
						font-size: em(12px)
						line-height: em(14px)
					.refresh_data
						.refresh_data-date
							span
								line-height: em(15px)
								font-size: em(16px)
								&:last-child
									margin-left: 0
									position: relative
									top: -8px
					button
						font-size: em(11px)
						padding: 10px
	.wrapper_tabs
		.tab
			font-size: em(12px) !important
			padding: 8px
			line-height: em(14px)
			height: 45px
	#ttn_form
		h3
			font-size: em(15px)
		span, p
			font-size: em(13px)
//конец


/*медиазапросы для страницы поиска по дереву*/
@media only screen and (max-width : 1200px)
	#tree
		.tree-tabWrap_content
			.tree-tabWrap_content-table
				.title
					padding: 0 10px
				.content
					height: 70px
					padding: 5px 10px
					.tree-tabWrap_content-table-btn
						button
							font-size: em(10px)
							margin-top: 7px
					.left
						width: 45%
					.right
						width: 55%
						button
							top: 7px
							padding: 10px 5px
							font-size: em(9px)
				.plr0
					&:nth-last-child(4),
					&:nth-last-child(2)
						.title
							background-color: #666
					&:nth-last-child(3)
						.content
							background-color: #fff

	/**/

@media only screen and (max-width : 992px)
	.tree_infoAboutCar-wrapper
		font-size: em(12px)
	#tree
		.tree-filter
			.wrap-filter
				width: 250px
	.tree-addToWaitlist-wrapper
		width: 90% !important
	/**/

@media only screen and (max-width : 768px)
	.tree_infoAboutCar
		margin-top: 10px
	.tree_infoAboutCar-wrapper
		font-size: em(11px)
	.tree_infoAboutCar
		button
			margin-top: 15px
	#tree .tree-h2 .tree-selectCar
		top: 25px
	.generalPopUp-details_rightPhoto
		padding-left: 0
		padding-right: 0
	.generalPopUp-details_left
		padding-right: 0
	.generalPopUp-details_rightTitle
		margin-top: 20px
	.tree-addToWaitlist-wrapper
		h2
			font-size: em(16px)
			text-transform: uppercase
	.alert_zone-tree
		.alert_zone-tree__colse
			top: 8px
	#tree
		.tree-tabWrap_content
			padding-left: 0
		.tree-h2
			h2
				font-size: em(18px)
				margin-bottom: 20px
			button
				top: 20px !important

		.tree-filter
			.wrap-filter
				width: 100%
				margin-bottom: 15px
			.tree-filter_selectBrand,
			.tree-filter_fildForBrand,
			.tree-filter_selectAuto
				margin-right: 10px
			.wrap-selectAuto
				margin-right: 0
		.tree-tabWrap_content-table-btn
			button
				padding: 11px !important
		.tree-tabWrap_content-tableSpinner
			.spinner
				input
					width: 68px
		.tree-tabWrap_content-table
			.price
				background-color: #fff !important

@media only screen and (max-width : 767px)
	.tree-tabWrap_content-table-btn
		width: auto !important
		float: right !important
	.tree-tabWrap_content-table
		.content
			.right
				button
					width: auto !important
					float: right !important
					font-size: 0.83333em !important
@media only screen and (max-width : 600px)
	.tree-h2
		.tree-selectCar
			width: 100%
			margin-bottom: 30px
@media only screen and (max-width : 456px)
	.tree_addAnyCar
		button,
		a
			width: 100%
			margin: 0
		button
			margin-top: 15px
@media only screen and (max-width : 480px)
	#tree
		.tree-filter
			.wrap-selectAuto
				width: 100%
				margin-bottom: 15px
				.tree-filter_selectAuto
					width: 100%
		.tree-h2
			.tree-selectCar
				width: 100%
				position: static
				margin-bottom: 15px
	.tree-addToWaitlist-wrapper
		h2
			font-size: em(14px)
			text-transform: uppercase
		.tree-addToWaitlist_fotter
			button, a
				@include calc(width, "50% - 10px")
				text-align: center
				padding: 5px
				float: left
			button
				margin-left: 0 !important
@media only screen and (width : 768px)
	.tree-tabWrap_content
		padding-top: 0 !important
	.generalPopUp-details_rightTitle
		margin-top: 0
	.generalPopUp-details_right, .generalPopUp-details_rightPhoto
		padding-left: 15px
@media only screen and (min-width : 1200px)
	.tree_infoAboutCar
		button
			width: 290px
/*конец*/







//////////страница Финансов///////////// //
@media only screen and (max-width : 1550px)
	.finances
		.finances-bill_balance-head
			h3
				float: none
			button
				top: -18px
@media only screen and (max-width : 992px)
	.finances
		.finances-bill_balance-head
			h3
				float: left
			h3, span
				font-size: em(13px)
			button
				float: none
				top: 0
				margin-top: 10px
				width: 100%
		.finances-bill_balance-body
			b
				top: -10px
				position: relative
				font-size: em(20px)
			strong
				float: none
				display: block
			.finances-ballance
				top: 0px
			button
				width: 50%

	.finances
		.finances-table_thead
			font-size: em(11px)
		.finances-table
			font-size: em(11px)

@media only screen and (max-width : 768px)
	.finances
		padding: 0
		.finances-act_tableBody
			button
				margin-top: 25px
@media only screen and (width : 768px)
	.finances .finances-bill_balance-body b
		top: 0
		font-size: 1.2em
	.finances-bill_history-head h3
		font-size: 1.2em
@media only screen and (max-width : 480px)
	.finances-act_tableBody
		padding-top: 10px !important
		padding-bottom: 10px !important
		font-size: 0.75em
		button
			width: 100%
			margin-right: 0 !important
			margin-top: 15px !important
			font-size: em(14px)

	.finances
		.finances-h2
			h2
				font-size: em(16px)
		.finances-bill_balance-body
			b
				top: -10px
				font-size: em(14px)
			strong
				float: none
				display: block
				font-size: em(12px)
			span
				font-size: em(12px)
		.finances-bill_balance-head
			h3, span
				font-size: em(11px)
			span
				top: -3px
				position: relative
		.finances-bill_history-head
			h3
				font-size: em(12px)
		.finances-saldo
			span
				font-size: em(13px)
				float: left
			strong
				font-size: em(16px)
				float: right
			button
				margin-top: 25px
				display: inline-block
				width: 90%
				float: none
				margin-left: 5%
//////////конец страница Финансов///////////// //





//////////страница менеджеров///////////////
@media only screen and (max-width : 1200px)
	.manager
		.manager-regional, .manager-self
			.manager-info_header
				strong
			.manager-info_body
				strong
					font-size: em(12px)
				.wrap-bottom
					margin-top: 0
					span
						font-size: em(14px)
						line-height: em(14px)
						display: block
	/**/
@media only screen and (max-width : 768px)
	.manager-info_body-bottom
		font-size: em(18px)
		top: 45px

@media only screen and (max-width : 480px)
	.manager
		.manager-regional, .manager-self
			.manager-info_header
				strong
					font-size: em(13px)
					text-transform: uppercase
			.manager-info_body
				.manager-info_body-right
					span
						font-size: em(14px)
		.manager-info_body-bottom
			font-size: em(15.2px)
			top: 45px
@media only screen and (min-width : 1200px)
	.manager
		.manager-regional
			.manager-info_header
			.manager-info_body
				.manager-info_body-left
					width: 36%
					min-height: 150px
				.manager-info_body-right
					position: relative
					width: 64%
					min-height: 150px

/////////Конец страница менеджеров///////////////




//личный кабинет//
@media only screen and (max-width : 992px)
	.userinfo .userinfo-leftSide, .userinfo .userinfo-rightSide
		width: 100%
	/**/
@media only screen and (max-width : 550px)
	.userinfo .userinfo-rightSide a
		top: 0
		font-size: em(10px)
	.profile-alertZone
		padding: 15px !important
	.userinfo h2
		font-size: em(15px)
@media only screen and (max-width : 340px)
	.userinfo .userinfo-leftSide .gray_btn
		width: 100%
//конец личный кабинет//



//управление остатками managment_rest//
@media only screen and (max-width : 992px)
	.managment
		.managment-rest
				.managment-rest_exports
					.managment-rest_exports-table
						padding: 10px 5px
	/**/

@media only screen and (max-width : 768px)
	.managment
		.managment-h2
			h2
				font-size: em(16px)
			button
				margin-right: 0
		.managment-rest
			h3
				font-size: em(14px)
			.managment-rest_warehouse-select
				padding: 20px 5px
				.overlay
					float: none
				button
					padding: 10px
					top: 10px
					position: relative
				span
					margin-top: 10px
					display: inline-block
					font-size: em(11px)
					line-height: 12px
		.managment-rest_exports-table-row
			.buttonsBlock-wrapper
				width: 32px
				float: right
			.buttonsBlock
				button
					display: inline-block
					text-align: center
					width: 100%
					margin-bottom: 4px
					padding: 0
					&:nth-last-child(1)
						margin-bottom: 0

@media only screen and (max-width : 530px)
	.managment
		.managment-h2
			margin-top: 40px
			h2
				font-size: em(14px)
			button
				width: 100% !important
				margin-top: 20px
		.managment-rest
			h3
				padding: 10px
			.managment-rest_exports-table
				font-size: em(12px)
				line-height: em(12px)
//конец управление остатками managment_rest//


/////////истрия заказов history//////////////
// @media only screen and (max-width : 768px)
// 	.queryHistory
// 		.queryHistory-row_descr
// 			line-height: em(14px)
// @media only screen and (max-width : 480px)
// 	.queryHistory
// 		.queryHistory-h2
// 			h2
// 				width: 100%
// 				span
// 					font-size: em(12px)
// 			.selectNumber
// 				margin-top: 0
// 				margin-bottom: 20px
// 		.queryHistory-row_descr
// 			line-height: em(14px)
// 		.queryHistory-row
// 			font-size: em(12px)
// 	/**/
//истрия заказов history////////////////////


//опросы//
@media only screen and (max-width : 768px)
	.pools
		.pools-newPools
			.pools-newPools_item
				button
					font-size: em(10px)
					line-height: em(15px)
					padding: 10px
//конец опросы//



//карзина//
@media only screen and (max-width : 1200px)
	.cart-shipment
		.title
			padding-top: 8px !important
	.datapicker-cart button
		margin-top: 15px !important
	.cart-beznal
		.cart-beznal_brand
			.content
				font-size: em(10px)
		.cell_wrap
			padding: 0
	.cart-availableDeliveryThead
		font-size: em(13px)
		line-height: em(13px)
	.cart-beznal_remote .right
			width: 100% !important
			button
				padding: 7px 10px
				margin-left: 10px
				i
					margin-right: 10px
			.cart-downloadInFile
				float: left
				margin-left: 0
				padding: 7px 10px
				i
					margin-right: 10px
@media only screen and (max-width : 992px)
	.cart-tableRow .cell_wrap
		height: 100px
	.cart_controls h3
		line-height: 1em
	.cart_controls .cart_controls--buttons button
		margin-left: 10px
	.cart-tableRow
		height: auto
	.cart-availableDeliveryThead,
	.cart-availableDeliveryRow
		padding: 10px
	#inline-datepicker
		margin-top: 40px
		margin-left: 0
	.cart-name,
	.cart-exist
		.content
			background-color: #fff !important
	.cart-beznal_table, .cart-nal_table
		.row
			.cart-fold,
			.cart-daterefresh,
			.cart-price,
			.cart-fold,
			.cart-comment,
			.cart-quantity,
			.cart-summ
				.title
					background-color: #b6b6b6
			.cart-shipment
				.title
					background-color: #666
				.content
					background-color: #fff
			.cart-name
				.title
					background-color: #666 !important
	.cart-shipment
		.title
			padding-top: 4px !important

@media only screen and (max-width : 768px)
	.cartForm
		display: block
		width: 215px
	.cart-quantity
		.content
			text-align: center
			.top_cell
				display: inline-block
			.botton_cell
				span
					position: relative
					top: -8px
					display: inline-block
	.cart-quantity .top_cell .input-group .wrap
		width: 100px !important
	.cart_controls--buttons
		float: left !important
		margin-top: 20px
		button
			&:first-child
				margin-left: 0
	.cart_controls
		margin-top: 30px
	.cart-beznal_remote .right
		.cart-MarkAll, .cart-dellAll, .cart-dellMark
			@include calc(width, "33.33333% - 10px")
		.cart-MarkAll
			margin: 0
			float: left
	.cart-downloadInFile
	.dashboard_small .content__item .content__item-right span i a
		font-size: em(18px)
	.datapicker-cart_inner, .datapicker_filter_wrap
		display: none
	.top-userCabinet,
	.datapicker-cart
		.triangle, .triangleR
			border-top: 10px solid gray !important
			border-bottom: none !important
	.datapicker-cart_inner
		padding-left: 30px
	.cart-availableDeliveryThead
		font-family: 'osr', sans-serif
		font-weight: normal
		color: #4d4d4d
		font-size: em(12px)
		font-weight: bold
	.cart-availableDeliveryRow
		div
			padding-left: 5px
			padding-right: 5px

	#inline-datepicker
		margin-top: 10px
	.cart-summAllOrders
		padding: 20px 10px
		.cart-summAllOrders_last
			margin-top: 20px
			.date
				float: right

	.cart-DeliveryInfo
		padding: 20px 10px
	.cart-DeliveryInfo_minsum
		span
			display: inline-block
			margin-bottom: 10px
			&:nth-last-child(1)
				float: right
				font-family: 'osb', sans-serif
	.cart-DeliveryInfo_tottalXs
		span
			&:nth-last-child(2)
				font-family: 'osb', sans-serif !important

		.right
			float: right
			text-align: right
			b
				font-weight: normal
				font-family: 'osb', sans-serif

	.cart-beznal_table
		.row
			.cart-exist,
			.cart-shipment
				.title
					background-color: #b7b7b7 !important
				.content
					background-color: #eaeaea
	.cart-name
		.content
			background-color: #fff !important
			text-align: center
	.cart-filter
		.cart-filter_wrapSelect
			select
				width: 100%
				display: block
	.cart-h2
		h2
			margin-bottom: 20px
	.cart-h2_control
		button
			float: left !important
			padding-left: 10px	!important
			padding-right: 10px	!important
			font-size: em(12px)
			i
				margin-right: 5px !important
	.cart-exist
		.content
			background-color: #eaeaea	!important

@media only screen and (max-width : 722px)
	.cart-beznal, .cart-nal
		.cart-beznal_remote
			.right
				button
					width: 100%
					margin-bottom: 20px
					padding: 10px !important
					i
						display: none

@media only screen and (max-width : 508px)
	.cart_controls--buttons
		padding: 0
		width: 100%
		button
			margin: 0 !important
			margin-bottom: 15px !important
			width: 100%
			&:nth-last-child(1)
				margin-bottom: 0 !important
@media only screen and (max-width : 480px)
	.cart-beznal_remote .right
		button
			width: 100% !important
			margin-bottom: 20px
	.cart-commentToOrder
		button
			width: 100%
	.cart-availableDeliveryRow
		line-height: em(13px) !important
		.overlay
			margin-bottom: 10px
	.cart-availableDelivery h2
		margin: 30px 0 20px 0
		font-size: em(16px)
	.cart-deliveryOptions_leftSide
		margin-top: 10px
	.cart-deliveryOptions .wrap-radio
		float: left
		width: 100%
		margin-bottom: 20px
		text-transform: uppercase
	.ui-datepicker-calendar
		margin-top: 0
	.ui-datepicker-inline
		width: 100%
	.cart-alert
		i
			font-size: em(16px)
			margin-right: 5px
		span
			font-size: em(10px)
	.cart-availableDeliveryRow label
		span
			width: 77%
			float: right
		.overlay
			margin-right: 0
			top: 7px
//конец корзина


//поиск по VIN 01//
@media only screen and (max-width : 1500px)
	.searchToVinCars-tabs_wrapper .search .wrapper-search
		width: 35%
@media only screen and (max-width : 1200px)
	.searchToVinCars-tabs_wrapper .search .wrapper-search
		width: 40%
@media only screen and (max-width : 1100px)
	.searchToVin2-table_row
		.title
			font-size: em(9px)
			padding: 3px
@media only screen and (max-width : 992px)
	.searchToVinCarsTree
		ul
			li
				padding-left: 20px
				padding-top: 6px
				padding-bottom: 6px
				a
					padding: 10px 15px
			ul
				display: none
				ul
					ul
						li
							padding-left: 80px !important
	.searchToVinCars-tabs_wrapper .search .wrapper-search
		width: 70%
	.searchToVin2-table_row
		.dateToProd
			.title
				background-color: #666
			.content
				background-color: #e5e5e5
@media only screen and (max-width : 767px)
	.searchToVin1-searchfield
		input
			@include calc(width, "100% - 75px")
			border-radius: 0 !important
		button
			width: auto
			padding: 8px 15px
			i
				font-size: em(18px)
@media only screen and (max-width : 768px)
	.searchToVinCarsContent
		padding: 0
	.searchToVinCarsContent-right,
	.searchToVinCarsContent-image
		width: 100%
	.searchToVinCarsContent-right
		padding: 0
	.searchToVinCarsContent-image
		img
			width: 180px
			display: block
			float: left
			margin-right: 20px
		a
			text-align: left
			display: block
	.searchToVinCars-info span
		width: 100%
		margin-bottom: 5px
	.searchToVinCars-date span
		display: inline-block
		width: 100%
		margin-bottom: 20px
	.searchToVinCars-tabs_wrapper .search .wrapper-search
		width: 100%
	.searchToVin2-table_row
		.content
			padding: 10px
		.name
			.title
				background-color: #666
				padding-left: 10px
		.Transmithion, .dateToProd
			.title
				background-color: #8d8d8d
			.content
				background-color: #f0f0f0
@media only screen and (max-width : 460px)
	.searchToVinCars-date
		text-align: center
		span
			font-size: em(12px)
		button
			width: 100%
			display: inline-block
			line-height: em(14px)
	.searchToVinCars-h3 h3
		padding: 0
		text-align: center
		font-size: em(15px)
	.searchToVinCars-tabs_wrapper .tabs .tab
		width: 50%
		line-height: em(12px)
		padding: 15px 10px
		font-size: em(10px)
	.searchToVinCars-tabs_wrapper .search .wrapper-search input
		font-size: em(10px)

@media only screen and (min-width : 768px)
	.searchToVinCarsTree ul li
		padding-left: 0

//конец поиск по	VIN 01//

//поиск по VIN 06//
@media only screen and (max-width : 1200px)
	.searchToVin6_content-table
		.table-row_descr
			word-wrap: break-word
			line-height: em(14px)
@media only screen and (max-width : 768px)
	.searchToVin6_content-table .table-row a
		font-size: em(10px)
	.searchToVin6_content-table .header
		line-height: em(14px)
		word-wrap: break-word
	.searchToVin6-breadCrumbs-descr
		font-size: em(10px)
	.searchToVin6_content-image
		margin-bottom: 20px
	.searchToVin6-breadCrumbs ul
		font-size: em(10px)
	.searchToVin6_content-table
		.table-row_descr
			span:nth-last-child(1)
				display: inline-block
				width: 100%
				text-align: center
				i
					float: none
					right: auto
					display: inline-block
					margin-top: 5px
	.searchToVinCarsTree-manufacture
		li
			padding: 0 !important
			a
				padding: 15px !important
//конец поиск по	VIN 06//


//поиск VIN03
@media only screen and (max-width : 1650px)
	.searchToVin3-brand a span
		font-size: 1em
@media only screen and (max-width : 768px)
	.searchToVin3-model
		display: inline-block
		width: 100%
		text-align: center
		margin-bottom: 20px
	.searchToVin3-searchfield
		text-align: center
		a
			float: none
			font-size: em(9px)
			line-height: em(22px)
	.searchToVin3-model
		font-size: em(14px) !important
	.searchToVin3_modelDescr span
		display: inline-block
		width: 100%
		margin-bottom: 10px
		&:nth-last-child(1)
			margin-bottom: 0
	.searchToVin3-brand
		padding-left: 0
		padding-right: 0


@media only screen and (max-width : 450px)
	.searchToVin3-query h3
		font-size: em(13px)
//Конец поиск ВИН 03//




//результаты поиска//
@media only screen and (max-width : 460px)
	.table_search_goods_result .quantity_ .content .bottom_cell, .table_search_goods_result .quantity_ .content .top_cell
		padding: 0 !important
		padding-top: 20px !important
	.priceSellWithNds-recomendidPrice
		margin-top: 0 !important
	.table_search_goods_result .quantity_ .content .bottom_cell, .table_search_goods_result .quantity_ .content .top_cell
		padding-left: 5px
@media only screen and (width : 768px)
	.table_search_goods_result .cell_wrap
		height: auto !important
	.table_search_goods_result .cell_wrap .content .light_top
		padding: 0
@media only screen and (max-width : 768px)
	.table_search_goods_result .cell_wrap
		height: 90px
	.table_search_goods_result
		.brand
			p
				margin-bottom: 5px
				margin-top: 7px
			.import_brandArticle
				font-size: em(14px) !important
	.searchResult .table_search_goods_result .descr .content h4
		padding-left: 5px
		margin-bottom: 5px
	.table_search_goods_result .descr .content p
		padding-left: 5px
	.table_search_goods_result .brand .content
		padding-left: 5px
	.searchResult .table_search_goods_result .descr .content h4
		margin-top: 7px
	.slideDownNav--fixed
		.alert
			top: 0px !important
			position: relative
			margin-right: -15px !important
			margin-left: -15px !important
			width: 106%
	.managmentAllFilter
		padding-top: 15px !important
	.searchResult-h2 h2
		margin-bottom: 20px !important
		font-size: em(18px)
	.generalPopUp-searchresult_selectwrap
		select
			width: 100% !important
			margin: 0
			margin-bottom: 10px
	.generalPopUp-addField
		position: absolute
		top: 5px
		right: 30px
	.searchResultShowAllRow span, .searchResultShowAllRow_anyDeliv span
		font-size: em(10px)
	.import-repeatRow
		.content
			height: auto !important
	.search-tableContent_priceLeft .wrap, .search-tableContent_priceRight .wrap
		height: 65px
@media only screen and (max-width : 445px)
	.searchResult-cartInformer
		right: 0
	.table_search_goods_result .quantity_ .content .top_cell
		padding-top: 10px !important
@media only screen and (min-width : 1200px)
	.slideDownNav--fixed
		.alert
			top: 40px !important
//конец результаты поиска//

//акции//
@media only screen and (max-width : 768px)
	.actions-h2
		h2
			margin-bottom: 20px !important
		button
			float: left !important
			padding-left: 10px !important
			padding-right: 10px !important
//конец акции//

//акции внутренняя страница//
@media only screen and (max-width : 1800px)
	.fullAction-wrapper_content
		span
			margin-top: 10px
@media only screen and (max-width : 1400px)
	.fullAction-wrapper_content
		p
			font-size: em(50px)

@media only screen and (max-width : 992px)
	.fullAction-wrapper
		.pl0,
		.pr0
			padding: 0
@media only screen and (max-width : 543px)
	.fullAction-wrapper_title
		height: 60px
		span
			display: inline-block
			width: 100%
	.fullAction-wrapper_content
		h1
			text-align: center
			line-height: em(16px)
			font-size: em(20px)
		.toEnd
			text-align: left
			display: inline-block
			width: 100%
			padding-left: 20px
			margin-bottom: 20px
		p
			text-align: left
			padding-left: 20px
			font-size: em(25px)




//конец акции внутренняя страница//


//обратная связь//
@media only screen and (max-width : 768px)
	.report-h2
		font-size: em(8px)
		margin-bottom: 30px
		i
			margin-right: 5px
			top: 0
@media only screen and (max-height : 768px)
	.report, .pools
		min-height: 150vh
//конец обратная связь//
@media only screen and (max-width : 768px)
	.generalPopUp-window
		width: 90% !important
		h2
			font-size: em(16px)
			line-height: em(18px)
		.generalPopUp-window_body
			font-size: em(12px)
			line-height: em(20px)
			p
				margin: 0
@media only screen and (max-width : 440px)
	.confirm
		margin-top: 20px
	.generalPopUp-window_commentToError
		textarea
			height: 100px
	.generalPopUp-window_buttongroup
		button, a
			width: 100%
			text-align: center
			margin-bottom: 10px
			padding: 5px !important
		button
			margin-bottom: 0
		.modalImportRedBtn
			margin-top: 7px
	.generalPopUp-window-innerWrapper
		.item
			input
				width: 100%
				margin-top: 3px
	.generalPopUp-window-reportForm select, .generalPopUp-window-reportForm textarea
		margin-bottom: 5px
	.generalPopUp .generalPopUp-window .generalPopUp-window_header h2
		font-size: em(16px)
	.generalPopUp-window_body
		height: calc(100% - 160px) !important
	.generalPopUpCengePass-body
		height: 220px !important
		border: 1px solid red
@media only screen and (max-height : 640px)
	.generalPopUp-window
		height: 90% !important


//уцененные товары//
@media only screen and (max-width : 992px)
	.cutePrice
		padding-bottom: 0px
	.cutePrice-h2_breadCrumbs
		margin-top: 20px
		.breadcrumbs_bottom
			float: left

	.privolniyRow
		div
			&:nth-last-child(1),
			&:nth-last-child(2),
			&:nth-last-child(3),
			&:nth-last-child(4),
			&:nth-last-child(5),
				.body
					background-color: #eaffde

	.cutePrice-table
		div
			&:nth-last-child(6)
				.body
					background-color: #fff
			&:nth-last-child(2),
			&:nth-last-child(4)
				.title
					background-color: #8d8d8d
			&:nth-last-child(7)
				.title
					background-color: #666
	.cutePrice-filter_innerWrap
		.wrapper
			width: 91% !important
			float: right !important
			margin-bottom: 10px
			input
				float: right !important
				font-size: em(11px)
	.cutePrice-filter .cutePrice-filter_innerWrap i
		position: absolute
		top: 25px

@media only screen and (max-width : 768px)
	.cutePrice-h2_helper
		padding-bottom: 10px
	.cutePrice-filter_innerWrap
		.wrapper
			width: 80% !important

	.cutePrice-h2_breadCrumbs-bottom
		margin-top: 10px
		text-align: center
		.breadcrumbs_bottom
			width: 100%
	.cutePrice-h2
		h2
			font-size: em(18px)
		.breadcrumbs_bottom
			text-align: center
			float: none
			width: 100%
	.cutePrice-h2_breadCrumbs select
		margin-bottom: 20px
	.cutePrice-table
		border: 1px solid gray
		margin: 0
		margin-bottom: 15px
		div
			&:nth-last-child(7)
				.title
					background-color: #666
			&:nth-child(odd)
				.title
					background-color: #8d8d8d
			&:nth-last-child(8)
				.title
					background-color: #666
	.privolniyRow
		div
			&:nth-last-child(6)
				.body
					background-color: #eaffde
	.podolskRow
		div
			&:nth-last-child(6),
			&:nth-last-child(4)
				.body
					background-color: #ffedc1
	.astanaRow
		div
			&:nth-last-child(6),
			&:nth-last-child(4)
				.body
					background-color: #f7dfff
	.ectRow
		div
			&:nth-last-child(6),
			&:nth-last-child(4)
				.body
					background-color: #dadeff
@media only screen and (max-width : 392px)
	.cutePrice-table .body .nal
		display: none
	.cutePrice-h2 h2
		width: 100%
		margin-bottom: 10px
//Конец уцененные товары//


//наценка//
@media only screen and (max-width : 992px)
	.extraCharge-settings_btns,
	.extraCharge-settings_checkBoxes
		padding-top: 0
	.extraCharge-settings_btns
		button
			width: 100%
	.roductGroup-windowBody_tree
		height: auto
	.productGroup-windowBody
		overflow-y: scroll
		max-height: 92%
@media only screen and (max-width : 768px)
	.extraCharge-settings_title
		font-size: em(12px)
		line-height: em(18px)
		h3
			width: 100%
			margin-bottom: 15px
	.extraCharge-addSettings_btns
		text-align: center
		a
			&:first-child
				margin-bottom: 20px
	.extraCharge-settings_checkBoxes
		label
			margin-bottom: 10px
	.extraCharge-settings_btns
		button
			width: 100%
			margin: 0
@media only screen and (max-width : 441px)
	.extraCharge-window
		.red_btn
			margin-top: 10px

@media only screen and (max-height : 800px)
	.generalPopUp-productGroup,
	.generalPopUp-productGroup_brand
		.productGroup-window
			height: 88% !important
@media only screen and (max-height : 768px)
	.generalPopUp-productGroup,
	.generalPopUp-productGroup_brand
		.productGroup-window
			height: 91% !important

@media only screen and (max-height : 768px)
	.generalPopUp-productGroup,
	.generalPopUp-productGroup_brand
		.productGroup-window
			max-height: 91% !important
	.generalPopUp-window_header
		font-size: em(11px)
	.generalPopUp-rest_dell, .generalPopUp-window_body
		p
			line-height: em(16px)
			font-size: em(14px) !important
@media only screen and (min-height : 800px)
	.generalPopUp-productGroup,
	.generalPopUp-productGroup_brand
		.roductGroup-windowBody_tree
			max-height: 10000px !important

@media only screen and (height : 1024px)
	.generalPopUp-productGroup,
	.generalPopUp-productGroup_brand
		.productGroup-window
			height: 95% !important
//конец наценка//


//настройки пользователя//
@media only screen and (max-width : 1440px)
	.widget-settings_wrap span
		font-size: 12px
@media only screen and (max-width : 768px)
	.widget-settings_wrap span
		font-size: em(10px)
		display: inline-block
	.widget-settings
		.col-xs-12
			margin: 0 !important
	.extraCharge-addSettings_tableRowProduct
		.fa-arrow-down
			font-size: em(10px)
			top: 2px
			display: inline-block
			float: left
			margin-right: 5px

		.text
			display: inline-block
			float: left
			line-height: em(14px)
			width: 80%
			font-size: em(12px)


	.widget-settings_wrap
		margin-bottom: 0px !important
	.generalUserSettings-settingsField
		.save
			margin: 0
			margin-bottom: 15px
			padding: 5px
		h3
			font-size: em(16px)
	.generalUserSettings-h2
		h2
			i
				margin-right: 5px
				font-size: em(23px)
				display: inline-block
				height: 40px
				float: left
				top: 4px
				margin-right: 15px
			span
				line-height: em(15px)
				display: block !important
				font-size: em(12px)
				width: 100%
		.generalUserSettings-settingsField
			.left, .right
				width: 100%
				.title
					line-height: em(16px)
@media only screen and (max-width : 419px)
	.extraCharge-addSettings_tableRowProduct
		.gray_btn
			margin-top: 3px
//конец настройки пользователя//



//документы//
@media only screen and (max-width : 768px)
	.userDocs-tabs
		.tab
			width: 50%
			text-align: center
			font-size: em(10px)
			line-height: em(14px)
		.tab_item
			button:first-child
				margin: 0
			button:nth-last-child(1)
				float: right
			button
				padding-left: 10px
				padding-right: 10px

//конец документы//
